src/app/config/env.sample
# Applikationens namn
NODE_NAME=AUTH_MS

# Applikationens körningsmiljö (Development, Production, etc.)
NODE_ENV=production

# Värdnamn och port för applikationens server
NODE_HOSTNAME=example.com
NODE_PORT=3000

# Sökväg för lagring av filer
NODE_FILE_FOLDER=/var/app/data

# Sökväg för loggfiler
NODE_LOG_PATH=/var/log/app-logs

# MongoDB konfiguration (Använd platsmarkörer eller instruktioner)
MONGODB_DB_URL=mongodb+srv://<username>:<password>@<cluster-url>
MONGODB_DB_NAME=db_my_app
MONGODB_DB_COLLECTION=col_users
